{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container text-justify">
    <div class="row">
      <div class="col">
        <img src="{%static 'kerang.jpg' %}" width="100%" alt=""> 
      </div>
      <div class="col">
        <pre>
            Produksi Ikan <hr>
            Jenis Usaha     : Budidaya
            Tempat          : Aceh
            Jenis           : Kerang
            Tahun           : 2019
            Nilai Produksi  : 9.600.000
            Volume Produksi : 480,00
        </pre>
            <p> Kerang hijau merupakan salah satu kudapan lezat yang menjadi favorit bagi masyarakat Indonesia. </p>
            <p> Memiliki kandungan gizi yang tinggi dan cita rasa yang lezat merupakan salah satu alasan yang menjadikan kerang hijau banyak dicari. Budidaya kerang hijau tidak membutuhkan perawatan yang rumit sehingga usaha ini semakin diminati karena kelebihan biota laut ini mampu bertahan hidup dan berkembang biak dengan baik serta mudah beradaptasi di tempat baru.</p>

      </div>
    </div>
  </div>

{% endblock %}