{% extends 'base.html' %}
{% block content %}
{% load static %}

        <h3>{{ title }}</h3>
<div class="container" style="margin-top: 10px;">
<div class="col-md-6">
    
    {% if pesan %}
    <script>
     swal("Berhasil!", "{{ pesan }}", "success");
    </script>

            {% endif %}

            <form action="{% url 'update_data' ikan.id %}" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Simpan" class="btn btn-primary">
                <a href="/halamansatu" class="btn btn-warning">Kembali</a>
        </form>
    </div>
</div>



{% endblock %}